<nav class="bg-blue-500 p-4">
  <div class="max-w-4xl mx-auto flex justify-between items-center">
    <a href="/" class="text-white font-semibold text-lg">Home</a>
    <div class="flex space-x-4">
      <a href="/add_student" class="text-white">Add Student</a>
      <a href="/add_elective" class="text-white">Add Elective</a>
      <a href="/generate_report" class="text-white">Generate Report</a>
    </div>
  </div>
</nav>
<h1 class="text-center font-bold text-4xl">Student Preference Selector</h1>